<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CAddBook</servlet-name>
        <servlet-class>Controllers.CAddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRemoveBook</servlet-name>
        <servlet-class>Controllers.CRemoveBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CAddBook</servlet-name>
        <url-pattern>/CAddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRemoveBook</servlet-name>
        <url-pattern>/CRemoveBook</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
